* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto Slab', serif;
	font-size: 12pt;
}

body {
	width: 100%;
	min-height: 100vh;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(-45deg, #e8070d -50%, #0b01a5 150%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper main {
	width: 1024px;
	height: 520px;
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tabHW {
	border-collapse: collapse;
	min-width: 960px;
	background: #f0f0f0;
	box-shadow: 0 0 20px rgba(0,0,0,.25);
}

.tabHW thead tr {
	background: #009879;
	color: #fff;
}

.tabHW thead tr th:nth-child(1) {
	text-align: left;
}

.tabHW th,
.tabHW td {
	padding: 8px 10px;
	cursor: default;
}

.tabHW tbody tr {
	border-bottom: 1px solid #ddd;
}

.tabHW tbody tr:last-of-type {
	border-bottom: 3px solid #009879;
}

.no, .yes {
	text-align: center;	
}

.tabHW td.yes {
	color: #009879;
	cursor: help;
}

.tabHW td.yes a {
	color: #009879;
	text-decoration: none;
	cursor: pointer;
}

.no {
	color: #982400;
}
#trslt {
	position: absolute;
	top: 24px;
	left: 20px;
	font-size: 1.2em;
	color: white;
	text-decoration: none;
	background: #009879;
	padding: 10px;
	border-bottom: 5px solid #008066;
	transition: .15s;
	display: none;
}

#trslt:active {
	border-bottom: none;
	top: 25px;
}

.unready {
	background: #994626;
	display: none;
}