* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto Slab', serif;
	font-size: 12pt;
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100vh;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(-45deg, #e8070d -50%, #0b01a5 150%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper main {
	width: 1024px;
	height: 520px;
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tabHW {
	border-collapse: collapse;
	min-width: 960px;
	background: #f0f0f0;
	box-shadow: 0 0 20px rgba(0,0,0,.25);
}

.tabHW thead tr {
	background: #009879;
	color: #fff;
}

.tabHW thead tr th:nth-child(1) {
	text-align: left;
}

.tabHW th,
.tabHW td {
	padding: 8px 10px;
	cursor: default;
}

.tabHW tbody tr {
	border-bottom: 1px solid #ddd;
}

.tabHW tbody tr:last-of-type {
	border-bottom: 3px solid #009879;
}

.no, .yes {
	text-align: center;	
}

.tabHW td.yes {
	color: #009879;
	cursor: help;
}

.tabHW td.yes a {
	color: #009879;
	text-decoration: none;
	cursor: pointer;
}

.no {
	color: #982400;
}
#trslt {
	position: absolute;
	top: 24px;
	left: 20px;
	font-size: 1.2em;
	color: white;
	text-decoration: none;
	background: #009879;
	padding: 10px;
	border-bottom: 5px solid #008066;
	transition: .15s;
	display: none;
}

#trslt:active {
	border-bottom: none;
	top: 25px;
}

.unready {
	display: none;
}

.mobile-wrapper {
	display: none;
} 

.navi {
	position: relative;
	width: 100%;
	background: #363636;
	list-style: none;
	overflow: hidden;
}

.navi_item {
	display: block;
	border-top: 2px solid #00735C; 
	background-color: #009879;
}

.navi_item-link {
	text-decoration: none;
	color: #fff;
	position: relative;
	padding: 16px 20px;
	font-size: 24pt;
	display: block;
	overflow: hidden;
}

.navi_item-link:before {
	content: '';
	width: 16px;
	height: 16px;
	position: absolute;
	bottom: -8px;
	left: 20px;
	background: #009879;
	transform: rotate(45deg);
}

.navi_submenu {
	background-color: #363636;
	overflow: hidden;
	max-height: 0px;
	transition: max-height .75s;
}

.navi_submenu:target {
	max-height: 20rem;
}

.navi_submenu-link {
	display: block;
	padding: 20px 26px;
	color: #fff;
	text-decoration: none;
	transition: background .2s ease-in;
}

.navi_submenu-link:hover {
	background: rgba(155,255,255,.15);
}

/* Smartphones max-width - 768px */

@media (max-width: 769px) {
	.wrapper {
		display: none;
	}

	.mobile-wrapper {
		display: block;
	}
}