* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto Slab', serif;
	font-size: 14pt;
}

body {
	width: 100%;
	min-height: 100vh;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(-45deg, #e8070d -50%, #0b01a5 150%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper main {
	width: 1024px;
	height: 520px;
	background: #f0f0f0;
	display: flex;
	justify-content: left;
	align-items: center;
	position: relative;
	overflow: scroll;
}

#trslt {
	position: absolute;
	top: 19px;
	left: 20px;
	font-size: 2em;
	color: white;
	text-decoration: none;
	background: #009879;
	padding: 0 10px;
	border-bottom: 5px solid #008066;
	transition: .15s;
}

#trslt:active {
	border-bottom: none;
	top: 25px;
}


.test {
	width: 720px;
	height: 500px;
	margin-left: 5%;
	margin-top: 50px;
}

.test li p:nth-child(4) {
	margin-bottom: 20px;
}